body{
margin:0;
min-height:100vh;
background:#101214;
color:white;
font-family:Tahoma,Arial;
text-align:center;
}
header{padding:25px;color:#ffd0d0}
.card{
margin:auto;
width:min(90%,700px);
background:#1c1f23;
padding:30px;
border-radius:25px;
box-shadow:0 0 30px #000;
}
.logo{
width:130px;
height:130px;
border-radius:50%;
}
h1{color:#ff5555}
#qrContainer{
background:white;
color:#555;
width:330px;
height:330px;
margin:25px auto;
display:flex;
align-items:center;
justify-content:center;
}
#status{
font-size:30px;
color:#6cff8a;
margin:20px;
}
